{% extends "FreeBetUIBundle::layout.html.twig" %}

{% block title %}{{ event.name }}{% endblock %}

{% block content %}
<div id="event-bet" class="grouped-list">
    <h1>{{ event.name }} <small>{{ event.date|date_format('datetime')}}</small></h1>
    {{ render_all_bet_types(event) }}
</div>
{% endblock %}