{% extends "FreeBetUIBundle::layout.html.twig" %}

{% block title %}{{ competition.name }}{% endblock %}

{% block content %}
<div id="competition-detail">
    <h1>{{ competition.name }}</h1>

    {% render(controller('FreeBetSoccerLeagueBundle:League:navigation', {
        'competition': competition,
        'matches': events,
        'day': app.request.query.get('day',"1")
    })) %}
</div>
{% endblock %}