{% extends "FreeBetUIBundle::layout.html.twig" %}

{% block title %}{{ competition.name }}{% endblock %}

{% block content %}
<div id="competition-detail">
    <h1>{{ competition.name }}</h1>

</div>
{% endblock %}