{% extends "FreeBetUIBundle::layout.html.twig" %}

{% block title %}{{ 'error.global.title'|trans }}{% endblock %}

{% block content %}
<section class="content">
    <div class="error-page" id="global-error">
        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> {{ 'error.global.title'|trans }}</h3>
            <p>
                {{ 'error.global.text'|trans({'%url%':path('event_next_list')})|raw }}
            </p>
        </div>
    </div>
</section>
{% endblock %}