{% extends '::base.html.twig' %}

{% block body %}
    <a href="{{ url("competition_list") }}">{{ competition.name }}</a><br />

    {% set groupList = range('A', 'H') %}
    {% for group in groupList %}
        {{ render(controller('BettingSasSoccerWorldCupBundle:Group:matchList', {
                events: events, 
                group: group
        })) }}
    
        {{ render(controller('BettingSasSoccerWorldCupBundle:Group:result', {
                events: events, 
                group: group
        })) }}
    {% endfor %}
{% endblock %}