<div class="pull-left"><span class="sport sport-{{ bet.event.type }}"></span></div>
<div class="bet-name">{{ bet.event.name }}</div>
<div class="bet-choice">{{ ('gamble_'~betType.name)|trans({},'gamble') }} {{ choice|trans }}</div>