<div id="cart">
    <h2>{{ 'cart.block.title'|trans({},'cart') }}</h2>
    {{ render_cart(cart) }}
    <form action="{{ path('gamble_cart_transform') }}" method="post">
        <button type="submit" class="btn btn-primary btn-block">{{ 'cart.block.transform'|trans({},'cart') }}</button>
    </form>
</div>