<form action="{{ path('gamble_cart_remove_bet',{id:bet.event.id}) }}" method="post">
    <input type="hidden" name="bet_type" value="{{ bet.type }}" />
    <button type="submit" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
</form>