<div class="bet-type bet-header" id="gamble-{{ betType.getName }}">
    <h2>
        <span class="glyphicon glyphicon-chevron-down btn-sm"></span>
        {{ ('gamble_'~betType.getName)|trans({},'gamble') }}
    </h2>
</div>
<div class="bet-type bet-body">
    <ul>
        {% for choice in betType.getChoices %}
            <li {% if loop.index0 > 17 %}style="display: none;"{% endif %}>
                {% include 'FreeBetGambleBundle::_bet_type_choice.html.twig' with {
                    'betType': betType,
                    'event': event,
                    'label': betType.getChoiceLabel(event, choice),
                    'choice': choice
                } %}
            </li>
        {% endfor %}
    </ul>
</div>