{% extends '::base.html.twig' %}

{% block body %}
    <h1>{{ match.leftName }} - {{ match.rightName }}</h1>
    <form action="" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" />
    </form>
{% endblock %}