<div class="bet-type" id="gamble-{{ betType.getName }}">
    <h3>{{ ('gamble_'~betType.getName)|trans({},'gamble') }} </h3>
    {% for choice in betType.getChoices %}
        <li>
            {% include 'BettingSasGambleBundle::_bet_type_choice.html.twig' with {
                'betType': betType,
                'event': event,
                'label': choice,
                'choice': choice
            } %}
        </li>
    {% endfor %}
</div>