<div id="gamble-{{ gamble.getName }}">
    <h3>{{ ('gamble_'~gamble.getName)|trans({},'gamble') }} </h3>
    <ul>
        {% for choice in gamble.getChoices %}
            <li>
                {% include 'BettingSasGambleBundle::_gamble_choice.html.twig' with {
                    'gamble': gamble,
                    'label': gamble.getChoiceLabel(event, choice),
                    'choice': choice
                } %}
            </li>
        {% endfor %}
    </ul>
</div>