@import "alerts.less";
@import "cart.less";
@import "../adminlte/less/mixins.less";

@primary: #3d9970;


/**********************/
/* Bootstrap override */
/**********************/
body > .header .navbar {
    margin-left: 0px;
}
.btn.btn-primary {
    background-color: @primary;
    border-color: @primary;
}

/**********/
/* Layout */
/**********/
.container h1 {
    text-align:center;
}
.right-side {
    padding: 0% 5%;
}
.content {
    padding-top: 0px;
}
.content h1 {
    margin-bottom: 40px;
}

/********/
/* Cart */
/********/
#cart {
    margin: 5px;
    padding: 5px;
    border: 1px solid white;
    .border-radius(4px);
}
#cart h2 {
    margin-top: 5px;
    font-size: 2em;
}
#cart .bet-item {
    margin-bottom: 5px;
}
#cart .alert {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

/********************/
/* Next events list */
/********************/
#next-event-list table.table {
    margin-bottom: 30px;
}
#next-event-list table thead tr th {
    .border-radius(4px, 4px, 0px, 0px);
    cursor: pointer;
}
#next-event-list table thead tr {
    background-color: @primary;
    color: white;
}
#next-event-list table thead th span.glyphicon {
    margin-right: 15px;
}
#next-event-list table tr > td:first-child {
    width:10%;
}
#next-event-list table tr > td:nth-child(2) {
    width: 10%;
}
#next-event-list table tr > td:nth-child(3) {
    width: 40%;
}
#next-event-list table h3 {
    display:none;
}
#next-event-list table li {
    display: inline-block;
}

/***********/
/* Profile */
/***********/
#profile h2 {
    margin-top: 0px;
}
#profile .img-thumbnail {
    margin-right: 15px;
}
#profile .info {
    margin-top: 20px;
}