{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        'bundles/bettingsasui/adminlte/css/bootstrap.min.css'
        'bundles/bettingsasui/adminlte/css/font-awesome.min.css'
        'bundles/bettingsasui/adminlte/less/AdminLTE.less'
        'bundles/bettingsasui/css/flags.css'
        'bundles/bettingsasui/less/BettingSas.less' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
{% endblock stylesheets %}

{% block header %}
    {% include 'BettingSasUIBundle:Layout:_header.html.twig' %}
{% endblock %}

{% block body %}
<div class="container wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-side sidebar-offcanvas">
        <section class="sidebar">
            {% block menu %}
                <div id="cart">
                    {% render(controller('BettingSasGambleBundle:Cart:view')) %}
                </div>
            {% endblock %}
        </section>
    </aside>
    <aside class="right-side">
        {% block content %}
        {% endblock %}
    </aside>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    {% javascripts
        '@BettingSasUIBundle/Resources/public/adminlte/js/bootstrap.min.js'
        '@BettingSasGambleBundle/Resources/public/js/cart.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock javascripts %}