<div class="bet-item">
    <div class="pull-right">
        {% include 'BettingSasGambleBundle:Cart:_delete.html.twig' with {bet: bet} %}
    </div>
    {% include 'BettingSasGambleBundle:Cart:_bet_name.html.twig' with {
        bet: bet,
        betType: betType,
        choice: betType.getChoiceLabel(bet.event,bet.choice)
    } %}
</div>