.event {
    width: 16px;
    height: 11px;
    background:url(../img/flags.png) no-repeat;
    display: inline-block;
}

.event.event-ad {background-position: -16px 0}
.event.event-ae {background-position: -32px 0}
.event.event-af {background-position: -48px 0}
.event.event-ag {background-position: -64px 0}
.event.event-ai {background-position: -80px 0}
.event.event-al {background-position: -96px 0}
.event.event-am {background-position: -112px 0}
.event.event-an {background-position: -128px 0}
.event.event-ao {background-position: -144px 0}
.event.event-argentina {background-position: -160px 0}
.event.event-as {background-position: -176px 0}
.event.event-at {background-position: -192px 0}
.event.event-australia {background-position: -208px 0}
.event.event-aw {background-position: -224px 0}
.event.event-az {background-position: -240px 0}
.event.event-bosnia-and-herzegovina {background-position: 0 -11px}
.event.event-bb {background-position: -16px -11px}
.event.event-bd {background-position: -32px -11px}
.event.event-belgium {background-position: -48px -11px}
.event.event-bf {background-position: -64px -11px}
.event.event-bg {background-position: -80px -11px}
.event.event-bh {background-position: -96px -11px}
.event.event-bi {background-position: -112px -11px}
.event.event-bj {background-position: -128px -11px}
.event.event-bm {background-position: -144px -11px}
.event.event-bn {background-position: -160px -11px}
.event.event-bo {background-position: -176px -11px}
.event.event-brazil {background-position: -192px -11px}
.event.event-bs {background-position: -208px -11px}
.event.event-bt {background-position: -224px -11px}
.event.event-bv {background-position: -240px -11px}
.event.event-bw {background-position: 0 -22px}
.event.event-by {background-position: -16px -22px}
.event.event-bz {background-position: -32px -22px}
.event.event-ca {background-position: -48px -22px}
.event.event-catalonia {background-position: -64px -22px}
.event.event-cd {background-position: -80px -22px}
.event.event-cf {background-position: -96px -22px}
.event.event-cg {background-position: -112px -22px}
.event.event-switzerland {background-position: -128px -22px}
.event.event-co-te-d-ivoire {background-position: -144px -22px}
.event.event-ck {background-position: -160px -22px}
.event.event-chile {background-position: -176px -22px}
.event.event-cameroon  {background-position: -192px -22px}
.event.event-cn {background-position: -208px -22px}
.event.event-colombia {background-position: -224px -22px}
.event.event-costa-rica {background-position: -240px -22px}
.event.event-cu {background-position: 0 -33px}
.event.event-cv {background-position: -16px -33px}
.event.event-cw {background-position: -32px -33px}
.event.event-cy {background-position: -48px -33px}
.event.event-cz {background-position: -64px -33px}
.event.event-germany {background-position: -80px -33px}
.event.event-dj {background-position: -96px -33px}
.event.event-dk {background-position: -112px -33px}
.event.event-dm {background-position: -128px -33px}
.event.event-do {background-position: -144px -33px}
.event.event-algeria {background-position: -160px -33px}
.event.event-ecuador {background-position: -176px -33px}
.event.event-ee {background-position: -192px -33px}
.event.event-eg {background-position: -208px -33px}
.event.event-eh {background-position: -224px -33px}
.event.event-england {background-position: -240px -33px}
.event.event-er {background-position: 0 -44px}
.event.event-spain {background-position: -16px -44px}
.event.event-et {background-position: -32px -44px}
.event.event-eu {background-position: -48px -44px}
.event.event-fi {background-position: -64px -44px}
.event.event-fj {background-position: -80px -44px}
.event.event-fk {background-position: -96px -44px}
.event.event-fm {background-position: -112px -44px}
.event.event-fo {background-position: -128px -44px}
.event.event-france {background-position: -144px -44px}
.event.event-ga {background-position: -160px -44px}
.event.event-gb {background-position: -176px -44px}
.event.event-gd {background-position: -192px -44px}
.event.event-ge {background-position: -208px -44px}
.event.event-gf {background-position: -224px -44px}
.event.event-gg {background-position: -240px -44px}
.event.event-ghana {background-position: 0 -55px}
.event.event-gi {background-position: -16px -55px}
.event.event-gl {background-position: -32px -55px}
.event.event-gm {background-position: -48px -55px}
.event.event-gn {background-position: -64px -55px}
.event.event-gp {background-position: -80px -55px}
.event.event-gq {background-position: -96px -55px}
.event.event-greece {background-position: -112px -55px}
.event.event-gs {background-position: -128px -55px}
.event.event-gt {background-position: -144px -55px}
.event.event-gu {background-position: -160px -55px}
.event.event-gw {background-position: -176px -55px}
.event.event-gy {background-position: -192px -55px}
.event.event-hk {background-position: -208px -55px}
.event.event-hm {background-position: -224px -55px}
.event.event-honduras {background-position: -240px -55px}
.event.event-croatia {background-position: 0 -66px}
.event.event-ht {background-position: -16px -66px}
.event.event-hu {background-position: -32px -66px}
.event.event-ic {background-position: -48px -66px}
.event.event-id {background-position: -64px -66px}
.event.event-ie {background-position: -80px -66px}
.event.event-il {background-position: -96px -66px}
.event.event-im {background-position: -112px -66px}
.event.event-in {background-position: -128px -66px}
.event.event-io {background-position: -144px -66px}
.event.event-iq {background-position: -160px -66px}
.event.event-iran {background-position: -176px -66px}
.event.event-is {background-position: -192px -66px}
.event.event-italy {background-position: -208px -66px}
.event.event-je {background-position: -224px -66px}
.event.event-jm {background-position: -240px -66px}
.event.event-jo {background-position: 0 -77px}
.event.event-japan {background-position: -16px -77px}
.event.event-ke {background-position: -32px -77px}
.event.event-kg {background-position: -48px -77px}
.event.event-kh {background-position: -64px -77px}
.event.event-ki {background-position: -80px -77px}
.event.event-km {background-position: -96px -77px}
.event.event-kn {background-position: -112px -77px}
.event.event-kp {background-position: -128px -77px}
.event.event-korea-republic {background-position: -144px -77px}
.event.event-kurdistan {background-position: -160px -77px}
.event.event-kw {background-position: -176px -77px}
.event.event-ky {background-position: -192px -77px}
.event.event-kz {background-position: -208px -77px}
.event.event-la {background-position: -224px -77px}
.event.event-lb {background-position: -240px -77px}
.event.event-lc {background-position: 0 -88px}
.event.event-li {background-position: -16px -88px}
.event.event-lk {background-position: -32px -88px}
.event.event-lr {background-position: -48px -88px}
.event.event-ls {background-position: -64px -88px}
.event.event-lt {background-position: -80px -88px}
.event.event-lu {background-position: -96px -88px}
.event.event-lv {background-position: -112px -88px}
.event.event-ly {background-position: -128px -88px}
.event.event-ma {background-position: -144px -88px}
.event.event-mc {background-position: -160px -88px}
.event.event-md {background-position: -176px -88px}
.event.event-me {background-position: -192px -88px}
.event.event-mg {background-position: -208px -88px}
.event.event-mh {background-position: -224px -88px}
.event.event-mk {background-position: -240px -88px}
.event.event-ml {background-position: 0 -99px}
.event.event-mm {background-position: -16px -99px}
.event.event-mn {background-position: -32px -99px}
.event.event-mo {background-position: -48px -99px}
.event.event-mp {background-position: -64px -99px}
.event.event-mq {background-position: -80px -99px}
.event.event-mr {background-position: -96px -99px}
.event.event-ms {background-position: -112px -99px}
.event.event-mt {background-position: -128px -99px}
.event.event-mu {background-position: -144px -99px}
.event.event-mv {background-position: -160px -99px}
.event.event-mw {background-position: -176px -99px}
.event.event-mexico {background-position: -192px -99px}
.event.event-my {background-position: -208px -99px}
.event.event-mz {background-position: -224px -99px}
.event.event-na {background-position: -240px -99px}
.event.event-nc {background-position: 0 -110px}
.event.event-ne {background-position: -16px -110px}
.event.event-nf {background-position: -32px -110px}
.event.event-nigeria {background-position: -48px -110px}
.event.event-ni {background-position: -64px -110px}
.event.event-netherlands {background-position: -80px -110px}
.event.event-no {background-position: -96px -110px}
.event.event-np {background-position: -112px -110px}
.event.event-nr {background-position: -128px -110px}
.event.event-nu {background-position: -144px -110px}
.event.event-nz {background-position: -160px -110px}
.event.event-om {background-position: -176px -110px}
.event.event-pa {background-position: -192px -110px}
.event.event-pe {background-position: -208px -110px}
.event.event-pf {background-position: -224px -110px}
.event.event-pg {background-position: -240px -110px}
.event.event-ph {background-position: 0 -121px}
.event.event-pk {background-position: -16px -121px}
.event.event-pl {background-position: -32px -121px}
.event.event-pm {background-position: -48px -121px}
.event.event-pn {background-position: -64px -121px}
.event.event-pr {background-position: -80px -121px}
.event.event-ps {background-position: -96px -121px}
.event.event-portugal {background-position: -112px -121px}
.event.event-pw {background-position: -128px -121px}
.event.event-py {background-position: -144px -121px}
.event.event-qa {background-position: -160px -121px}
.event.event-re {background-position: -176px -121px}
.event.event-ro {background-position: -192px -121px}
.event.event-rs {background-position: -208px -121px}
.event.event-russia {background-position: -224px -121px}
.event.event-rw {background-position: -240px -121px}
.event.event-sa {background-position: 0 -132px}
.event.event-sb {background-position: -16px -132px}
.event.event-sc {background-position: -32px -132px}
.event.event-scotland {background-position: -48px -132px}
.event.event-sd {background-position: -64px -132px}
.event.event-se {background-position: -80px -132px}
.event.event-sg {background-position: -96px -132px}
.event.event-sh {background-position: -112px -132px}
.event.event-si {background-position: -128px -132px}
.event.event-sk {background-position: -144px -132px}
.event.event-sl {background-position: -160px -132px}
.event.event-sm {background-position: -176px -132px}
.event.event-sn {background-position: -192px -132px}
.event.event-so {background-position: -208px -132px}
.event.event-somaliland {background-position: -224px -132px}
.event.event-sr {background-position: -240px -132px}
.event.event-ss {background-position: 0 -143px}
.event.event-st {background-position: -16px -143px}
.event.event-sv {background-position: -32px -143px}
.event.event-sx {background-position: -48px -143px}
.event.event-sy {background-position: -64px -143px}
.event.event-sz {background-position: -80px -143px}
.event.event-tc {background-position: -96px -143px}
.event.event-td {background-position: -112px -143px}
.event.event-tf {background-position: -128px -143px}
.event.event-tg {background-position: -144px -143px}
.event.event-th {background-position: -160px -143px}
.event.event-tj {background-position: -176px -143px}
.event.event-tk {background-position: -192px -143px}
.event.event-tl {background-position: -208px -143px}
.event.event-tm {background-position: -224px -143px}
.event.event-tn {background-position: -240px -143px}
.event.event-to {background-position: 0 -154px}
.event.event-tr {background-position: -16px -154px}
.event.event-tt {background-position: -32px -154px}
.event.event-tv {background-position: -48px -154px}
.event.event-tw {background-position: -64px -154px}
.event.event-tz {background-position: -80px -154px}
.event.event-ua {background-position: -96px -154px}
.event.event-ug {background-position: -112px -154px}
.event.event-um {background-position: -128px -154px}
.event.event-usa {background-position: -144px -154px}
.event.event-uruguay {background-position: -160px -154px}
.event.event-uz {background-position: -176px -154px}
.event.event-va {background-position: -192px -154px}
.event.event-vc {background-position: -208px -154px}
.event.event-ve {background-position: -224px -154px}
.event.event-vg {background-position: -240px -154px}
.event.event-vi {background-position: 0 -165px}
.event.event-vn {background-position: -16px -165px}
.event.event-vu {background-position: -32px -165px}
.event.event-wales {background-position: -48px -165px}
.event.event-wf {background-position: -64px -165px}
.event.event-ws {background-position: -80px -165px}
.event.event-ye {background-position: -96px -165px}
.event.event-yt {background-position: -112px -165px}
.event.event-za {background-position: -128px -165px}
.event.event-zanzibar {background-position: -144px -165px}
.event.event-zm {background-position: -160px -165px}
.event.event-zw {background-position: -176px -165px}
