.team {
    width: 20px;
    height: 20px;
    background:url(../img/team.png) no-repeat top left;
    display: inline-block;
    vertical-align: middle;
}
.team.team-bastia { background-position: 0px 0px; }
.team.team-bordeaux { background-position: -30px 0px; }
.team.team-caen { background-position: -60px 0px; }
.team.team-evian-tg { background-position: -90px 0px; }
.team.team-guingamp { background-position: -120px 0px; }
.team.team-lens { background-position: -150px 0px; }
.team.team-lille { background-position: -180px 0px; }
.team.team-lorient { background-position: -210px 0px; }
.team.team-lyon { background-position: -240px 0px; }
.team.team-marseille { background-position: -270px 0px; }
.team.team-metz { background-position: -300px 0px; }
.team.team-monaco { background-position: -330px 0px; }
.team.team-montpellier { background-position: -360px 0px; }
.team.team-nantes { background-position: -390px 0px; }
.team.team-nice { background-position: -420px 0px; }
.team.team-paris-sg { background-position: -450px 0px; }
.team.team-reims { background-position: -480px 0px; }
.team.team-rennes { background-position: -510px 0px; }
.team.team-saint-e-tienne { background-position: -540px 0px; }
.team.team-toulouse { background-position: -570px 0px; }

.team.team-arsenal { background-position: 0px -30px; }
.team.team-aston-villa { background-position: -30px -30px; }
.team.team-burnley { background-position: -60px -30px; }
.team.team-chelsea { background-position: -90px -30px; }
.team.team-crystal-palace { background-position: -120px -30px; }
.team.team-everton { background-position: -150px -30px; }
.team.team-hull-city { background-position: -180px -30px; }
.team.team-leicester-city { background-position: -210px -30px; }
.team.team-liverpool { background-position: -240px -30px; }
.team.team-manchester-city { background-position: -270px -30px; }
.team.team-manchester-united { background-position: -300px -30px; }
.team.team-newscastle-united { background-position: -330px -30px; }
.team.team-queens-park-rangers { background-position: -360px -30px; }
.team.team-southampton { background-position: -390px -30px; }
.team.team-stoke-city { background-position: -420px -30px; }
.team.team-sunderland { background-position: -450px -30px; }
.team.team-swansea-city { background-position: -480px -30px; }
.team.team-tottenham-hotspur { background-position: -510px -30px; }
.team.team-west-bromwich-albion { background-position: -540px -30px; }
.team.team-west-ham-utd { background-position: -570px -30px; }

.team.team-almeria { background-position: 0px -60px; }
.team.team-athletic-bilbao { background-position: -30px -60px; }
.team.team-atletico-madrid { background-position: -60px -60px; }
.team.team-celta-vigo { background-position: -90px -60px; }
.team.team-cordoba { background-position: -120px 0px; }
.team.team-deportivo-la-corogne { background-position: -150px -60px; }
.team.team-eibar { background-position: -180px -60px; }
.team.team-elche { background-position: -210px -60px; }
.team.team-espanyol-barcelone { background-position: -240px -60px; }
.team.team-fc-barcelone { background-position: -270px -60px; }
.team.team-fc-se-ville { background-position: -300px -60px; }
.team.team-getafe { background-position: -330px -60px; }
.team.team-granada-cf { background-position: -360px -60px; }
.team.team-levante { background-position: -390px -60px; }
.team.team-malaga { background-position: -420px -60px; }
.team.team-rayo-vallecano { background-position: -450px -60px; }
.team.team-real-madrid { background-position: -480px -60px; }
.team.team-real-sociedad { background-position: -510px -60px; }
.team.team-valence-cf { background-position: -540px -60px; }
.team.team-villareal { background-position: -570px -60px; }