<form action="{{ url("gamble_cart_add_bet", {id: event.id}) }}" method="post">
    <input type="hidden" name="bet[type]" value="{{ gamble.getName() }}" />
    <input type="hidden" name="bet[choice]" value="{{ choice }}" />
    <input type="submit" value="{{ label }}" />
</form>