<form action="" method="post">
    <input type="hidden" name="gamble_type" value="{{ gamble.getName() }}" />
    <input type="hidden" name="gamble_choice" value="{{ choice }}" />
    <input type="submit" value="{{ label }}" />
</form>