<div class="menu-title">{{ 'competition.menu.title'|trans }}</div>
<ul class="sidebar-menu">
    {% set slugCompetition = '' %}
    {% if main_request_route_param.slugCompetition is defined %}
        {% set slugCompetition = main_request_route_param.slugCompetition %}
    {% elseif main_request_route_param.slug is defined %}
        {% set slugCompetition = main_request_route_param.slug %}
    {% endif %}
    {% for competition in competitions %}
        <li {% if slugCompetition == competition.slug %}class="active"{% endif %}>
            {% include 'FreeBetCompetitionBundle:Competition:_competition_line.html.twig' with {
                competition: competition
            } %}
        </li>
    {% endfor %}
</ul>
<a id="menu-archive" href="{{ path('competition_archives') }}">{{ 'competition.menu.archives'|trans }}</a>